$bgColor : #fff;
$borderColor : #ccc;
$listBgColor : #ebebeb;
$basicFontSize : 18px;
$buttonColor : blue;
$mainFont: Roboto, sans-serif;
$defaultPadding : 20px;
$defaultBorderRadius: 10px;
$completedColor : green;
$centeredText : center;